body{
  margin-top:0;
  margin-right:0;
  margin-left:0;
  background-color:rgb(36, 32, 32);
}
.navbar{
 display:flex;

background-color:black;
height:60px;
align-items:center;
gap:400px;
}
.nav-logo{
 padding-left:80px;
}
.nav-links{
display:flex;
gap:30px;
}
.nav-container-logo{
  color:red;
  text-decoration: none;
  font-size:50px;
  font-weight:bold;
  
}

.home-link, .favourities-link{
  color:white;
  text-decoration: none;
  font-size:25px;
  font-weight:bold;
}
.home-page{
  display:flex;
  flex-direction: column;
  

  margin-top:30px;
  
}
.search-form{
  display:flex;
  justify-content:center;
  margin-bottom:20px;
  gap:10px;
}
.search-input{
  width:300px;
  height:40px;
  border-radius:5px;
  border:none;
  padding-left:10px;
  outline:none;
}
.search-button{
  width:80px;
  height:40px;
  border:none;
  border-radius:5px;
  background-color:red;
  color:white;
  font-weight:bold;
  cursor:pointer;
  font-size:19px;
}
.movie-app{
  display:flex;
  background-color:rgb(10, 10, 10);
  justify-content:space-between;
height:420px;
width:320px;
border:none;
}
.movie-list{
 display:grid;
 grid-template-columns: repeat(4, 1fr);
 gap:20px;
}
.favourities-page{
 display:flex;

 flex-wrap:wrap;
 margin-left:450px;
 flex-direction:column;
margin-top:50px;
background-color:none;
box-shadow:10px 40px 20px rgba(0,0,0,0.5);
width:500px;
align-items:center;

}
.img-picture{
  width:320px; 
  height:420px; 
}
.movie-overlay{
  display:inline-block;
  position:absolute;
 
}
.active{
 background-color:red;
}



.movie-boxcontainer{
  display:flex;
  flex-direction:column;
  align-items:center;
  
  
  background-color:rgb(10, 10, 10);
  border-radius:10px;
  box-shadow:10px 40px 20px rgba(0,0,0,0.5);
  color:white;
 
}


@media (max-width:768px){
  body{
   margin:0;
    
  }
  .navbar{
    display:flex;
    flex-direction:column;
    height:120px;
    width:620px;
  gap:20px;
 
  }
  .nav-links{
    gap:10px;
    padding-left:60px
  }
  .home-page{
    flex-wrap:wrap;
   
  }
  .favourities-page{
 margin-left:150px;
   
    width:350px;
    
  }
  .movie-list{
    display:grid;
     grid-template-columns: repeat(2, 1fr);
      gap:10px;
    
  }
  .all-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
   
  }
  .movie-app{
    height:400px;
    width:300px;
  }
  .movie-boxcontainer{
    width:300px;
    
  }
  .search-form{
display:flex;
justify-content:center;
  }
}
